@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/FiraSans-Regular.eot');
  src: url('../fonts/FiraSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'FiraSansMedium';
  src: url('../fonts/FiraSans-Medium.eot');
  src: url('../fonts/FiraSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Crystal';
  src: url('../fonts/Crystal.woff') format('woff');
}

body {
  font-family: 'FiraSans', sans-serif;
  background-color: #ffffff;
}

.button {
  display: inline-block;
  margin: 0 auto;
  padding: 1rem;
  min-width: 5rem;

  -moz-border-radius: 1rem;
  border-radius: 1rem;

  background-color: #50A6C2;
  box-shadow: #325C74 0 1rem 0 0;
  -moz-box-shadow: #325C74 0 1rem 0 0;
  -webkit-box-shadow: #325C74 0 1rem 0 0;

  text-decoration:none;
  text-align:center;

  font-family: 'FiraSansMedium', sans-serif;
  font-size: 1.8rem;
	font-style:normal;
  color: #ffffff;
  text-shadow: -1px -1px 0 #4D4D4D;
}

.button:active {
  position:relative;
  top: 1rem;
  box-shadow: none;
}

#settings {
  float: right;
}

#install {
  display: block;
  text-align: center;
  width: 10rem;
}

#ok {
  display: block;
  margin: 1rem auto;
  box-shadow: #325C74 0 0.5rem 0 0;
  -moz-box-shadow: #325C74 0 0.5rem 0 0;
  -webkit-box-shadow: #325C74 0 0.5rem 0 0;
}

#ok:active {
  position:relative;
  top:0.5em;
  box-shadow: none;
}

.hidden {
  display: none;
}

.content {
  width: 25rem;
  margin: 0 auto;
}

.raised {
  margin: 1rem auto 2rem auto;
  padding: 2rem;
  background-color: #50A6C2;
  color: #000000;

  -moz-border-radius: 1rem;
  border-radius: 1rem;

  box-shadow: #325C74 0 1rem 0 0;
  -moz-box-shadow: #325C74 0 1rem 0 0;
  -webkit-box-shadow: #325C74 0 1rem 0 0;
}

#header {
  margin: 0rem auto;
  padding: 1rem 2rem 1rem 2rem;
  text-align: center;
}

#header div {
  display: inline-block;
  margin: auto 2rem;

  font-family: 'FiraSansMedium', sans-serif;
  font-size: 1.5rem;
  font-size: 1.8rem;
  font-style:normal;
}

#header .lightOn {
  color: #ffffff;
  text-shadow: -1px -1px 0 #4D4D4D;
}

#header .lightOff {
  color: #999999;
  text-shadow: -1px -1px 0 #4D4D4D;
}

.timer {
  font-family: 'Crystal';
  margin: 0 auto;
  padding-top: 2rem;
  background-color: #FAEBD7;
  color: #000000;

  -moz-border-radius: 1rem;
  border-radius: 1rem;

  box-shadow: inset #CDB38B 0 1rem 0 0;
  -moz-box-shadow: inset #CDB38B 0 1rem 0 0;
  -webkit-box-shadow: inset #CDB38B 0 1rem 0 0;
}

.timer ul {
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.timer ul li {
  display: inline;
  text-align: center;
  font-size: 6rem;
  line-height: 6rem;
}

.timer #min {
  width: 4rem;
}

.timer #sec {
  width: 4rem;
}

.pane {
  margin: 2rem auto;
  padding: 1rem;
  background-color: #999999;
  color: #000000;

  -moz-border-radius: 1rem;
  border-radius: 1rem;

  box-shadow: inset #666666 0 1rem 0 0;
  -moz-box-shadow: inset #666666 0 1rem 0 0;
  -webkit-box-shadow: inset #666666 0 1rem 0 0;
}

label {
  width: 80%;
  float: left;
  padding-top: 0.5rem;
}

input {
  width: 15%;
  font-family: 'Crystal', sans-serif;
  font-size: 2rem;
  padding: 0.5rem 0.2rem 0.5rem 0.2rem;
  text-align: right;
  vertical-align: middle;

  background-color: #FAEBD7;
  color: #000000;

  -moz-border-radius: 1rem;
  border-radius: 1rem;

  box-shadow: inset #CDB38B 0 0.5rem 0 0;
  -moz-box-shadow: inset #CDB38B 0 0.5rem 0 0;
  -webkit-box-shadow: inset #CDB38B 0 0.5rem 0 0;
}

.warning {
  font-family: 'FiraSans-Regular', sans-serif;
  font-size: 1.5em;

  color: #ff0000;
}
